sudo: required
dist: trusty
language: php

php:
  - 7.1
  - 7.2
  - 7.3

cache:
  directories:
    - vendor

before_script:
  - composer self-update
  - travis_retry composer install --no-interaction --prefer-dist --no-suggest

script:
  - php vendor/bin/phpunit

after_success:
  - travis_retry php vendor/bin/php-coveralls -v